{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src={{ url_for('static', filename='scripts/grid.js') }}></script>
{% endblock %}

{% block body %}
    <div class="my-3">
        <h2>Account Management</h2>
        <div id="grid-buttons">
            <button id="add_row" onclick=add_empty_row()>Add Row</button>
            <button id="delete_row" onclick=delete_selected_rows("account/data")>Delete Selected Rows</button>
        </div>

        <div id="page_grid" style="height: 500px; width:1000px;" class="ag-theme-alpine"></div>
    </div>

    <script>
        fetch_data("account/data")

        // let the grid know which columns and what data to use
        const gridOptions = {
            defaultColDef: {
                editable: true,
                resizable: true
            },
            columnDefs: [
                {field: 'checkboxBtn', checkboxSelection: true, headerCheckboxSelection: true, pinned: 'left',
                width: 50, resizable: false},
                {field: "id", hide: true, editable: false},
                {field: "account_id", cellDataType: "text"},
                {field: "name", cellDataType: "text"},
                {field: "organization", cellDataType: "text", cellEditor: 'agSelectCellEditor',
                    cellEditorParams: {values: {{ organization_names | safe }} , valueListGap: 0}},
                {field: "account_status", cellDataType: "text", cellEditor: 'agSelectCellEditor',
                    cellEditorParams: {values: ['ACTIVE', 'SUSPENDED', 'UNKNOWN'], valueListGap: 0}},
                {field: "num_MFA_devices", cellDataType: "number"},
                {field: "email", cellDataType: "text"}
            ],
            rowData: [{}],
            getRowId: params => params.data.id,
            suppressDragLeaveHidesColumns: true,
            editType: 'fullRow',
            onRowEditingStopped: (event) => row_edited(event, "account/data")
        }

        initialise_grid();

    </script>

{% endblock %}
