{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src={{ url_for('static', filename='scripts/grid.js') }}></script>
{% endblock %}

{% block body %}
    <div class="my-3">
        <h2>Organization Management</h2>
        <div id="grid-buttons">
            <button id="add_row" onclick=add_empty_row()>Add Row</button>
            <button id="delete_row" onclick=delete_selected_rows("organization/data")>Delete Selected Rows</button>
        </div>

        <div id="page_grid" style="height: 200px; width:500px;" class="ag-theme-alpine"></div>
    </div>

    <script>
        fetch_data("organization/data")

        // let the grid know which columns and what data to use
        const gridOptions = {
            columnDefs: [
                {checkboxSelection: true, headerCheckboxSelection: true, pinned: 'left',
                width: 50, field: 'checkboxBtn'},
                {field: "id", hide: true},
                {field: "name", editable: true, resizable: true},
            ],
            rowData: [{}],
            getRowId: params => params.data.id,
            suppressDragLeaveHidesColumns: true,
            editType: 'fullRow',
            onRowEditingStopped: (event) => row_edited(event, "organization/data")
        }

        initialise_grid();

    </script>

{% endblock %}
